body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: darkslategrey;
}

h1.header{
    padding-top: 5rem;
}

.main.container, .footer{
    flex: 1 0 auto;
}

canvas#progress{
    padding-top: 15rem;
}